{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block back_button %}
<a href="{{ url_for('user.dashboard') }}" class="btn btn-secondary btn-sm mb-3">&larr; Back to Dashboard</a>
{% endblock %}
{% block content %}
<h3>Edit Profile</h3>
<form method="POST" class="col-md-5">
    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" value="{{ user.name }}" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" value="{{ user.email }}" class="form-control" required>
    </div>
    <button class="btn btn-primary">Save</button>
    <a href="{{ url_for('user.dashboard') }}" class="btn btn-secondary">Back</a>
</form>
{% endblock %}
